lib/.ipynb_checkpoints
lib/__pycache__
research/mastodon/.ipynb_checkpoints
research/podcast_embeddings/.ipynb_checkpoints
research/podcast_embeddings/__pycache__
research/podcast_gpt-3-5/.ipynb_checkpoints
research/2022-03-16_test-library/podcast_files
research/2022-03-16_test-library/.ipynb_checkpoints
research/podcast_summaries/.ipynb_checkpoints
.ipynb_checkpoints
